# Quarto
/.quarto/
/_site/
/_freeze/

# Python wheels
/wheels/*.whl

# Temporary files
*.tmp
*.temp
.DS_Store

# Editor files
.vscode/
.idea/

# Cache
__pycache__/
*.pyc

# Build artifacts
/build/
/dist/